{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Board{% endblock title %}

{% block content %}
    <div class="col-6 mx-auto">
        <form action="" method="post" class="form-group bg-white rounded p-2">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
    <br>
    {% for post in object_list %}
        <div class="col-6 mx-auto card">
            {{ post.author }}
        </div>
    {% endfor %}
{% endblock content %}